{% include 'etsynest/base.html' %}
{% load static %}

{% block 'STYLES' %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.3/css/rowGroup.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.0.1/css/fixedColumns.dataTables.min.css">
  <style>
    table{
      table-layout: fixed;
      clear: both;
      border-collapse: collapse;
    }
    th, td { 
      overflow: hidden;
    }
    div.dataTables_wrapper {
        margin: 0 auto;
    }
  </style>
{% endblock %}

{% block 'BODY' %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order #<span class="order_id"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p><b>Personal Details</b></p>
          <p class="first_name"></p>
          <p class="last_name"></p>
          <p class="email"></p>
          <p class="phone"></p>
          <p><b>Billing</b></p>
          <p>Price: <span class="total_price"></span></p>
          <p>Tax: <span class="total_tax"></span></p>
          <p>Transaction Fees: <span class="transaction_fees"></span></p>
          <p>Listing Fees: <span class="listing_fees"></span></p>
          <p>Printify Cost: <span class="total_cost"></span></p>
          <hr>
          <p>Revenue: <span class="revenue"></span></p>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-5">

  <div class="row mt-5">
    <div class="col-12">
      <!--<h1 class="display-1">Printify+</h1>-->
      <h5>There are {{ orders|length }} orders in total</h5>
    </div>
    <div class="col-12">
      <form class="form-inline">
        <div class="form-group">
          <label for="min">Minimum Date: </label>
          <input type="text" class="form-control ml-2" id="min" name="min" placeholder="...">
        </div>
        <div class="form-group ml-5">
          <label for="max">Maximum Date: </label>
          <input type="text" class="form-control ml-2" id="max" name="max" placeholder="...">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12 ">
      <div class="dataTables_wrapper">
        <table id="order-table" class="table table-hover table-bordered">
            <thead class="">
              <tr>
                <th width="auto">Order ID</th>
                <th width="auto">Created At</th>
                <th width="auto">Customer Name</th>
                <th width="10%">Price</th>
                <th width="10%">Fees & Tax</th>
                <th width="10%">Cost</th>
                <th width="10%">Revenue</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
              <tr>
                  <th colspan="3" style="text-align:right">Total:</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr>
            </tfoot>
        </table>
      </div>
    </div>
  </div>



</div>

{% endblock %}

{% block 'SCRIPTS' %}

<!-- DataTables Script -->
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js'%}"></script>

<script type="text/javascript" src="{% static 'js/moment.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.rowGroup.min.js'%}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>

<script type="text/javascript">

const ID_COLUMN = 0;
const DATE_COLUMN = 1;
const NAME_COLUMN = 2;
const PRICE_COLUMN = 3;
const FEESTAX_COLUMN = 4;
const COST_COLUMN = 5;
const REVENUE_COLUMN = 6;

var minDate, maxDate;

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date( data[DATE_COLUMN] );

        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
    );

// Create date inputs
minDate = new DateTime($('#min'), {
    format: 'MMMM Do YYYY'
});
maxDate = new DateTime($('#max'), {
    format: 'MMMM Do YYYY'
});

var table = document.getElementById("order-table");

$('#order-table thead tr').clone(true).appendTo( '#order-table thead' );
  $('#order-table thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
      $(this).html( '<input id="'+ title.replace(/\s+/g, '-').toLowerCase() +'input" type="text" placeholder="Search '+title+'" />' );
      $( 'input', this ).on( 'keyup change', function () {
          if ( order_table.column(i).search() !== this.value ) {
              order_table
                  .column(i)
                  .search( this.value )
                  .draw();

              order_table.draw();
          }
      } );
  } );

  $.fn.dataTable.ext.errMode = 'throw';

  var order_table = $('#order-table').DataTable(
    {
      "order": [[ DATE_COLUMN, "desc" ]],
      "rowGroup": {
        "dataSrc": [[ DATE_COLUMN]],
      },
      "processing": true,
      "serverSide": false,
      "ajax": {
              headers: { "X-CSRFToken": '{{csrf_token}}' },
              url: "{% url 'orders_index' %}",
              method: "POST",
      },
      "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                         i : 0;
             };

            var getTotalOfColumn = function ( COLUMN ){
                // Total over all pages
                total = api
                    .column( COLUMN, { search: 'applied' } )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
    
                // Total over this page
                pageTotal = api
                    .column( COLUMN, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                // Update footer
                $( api.column( COLUMN ).footer() ).html(
                  '$'+ pageTotal.toFixed(2) + ' ($' + total.toFixed(2) + ')'
                );
            };

            getTotalOfColumn(PRICE_COLUMN);
            getTotalOfColumn(COST_COLUMN);
            getTotalOfColumn(FEESTAX_COLUMN);
            getTotalOfColumn(REVENUE_COLUMN);
 
            
      },
      "autoWidth": false,
      "bAutoWidth": false,
      "columnDefs": [
            { "width": "100px", "targets": FEESTAX_COLUMN },
            { "type" : 'date', 'targets': [DATE_COLUMN] },
            {
                "targets": [ ID_COLUMN],
                "visible": true
            },
      ],    
    }
  );

  order_table.on('click', 'tr', function () {
      var data = order_table.row( this ).data();

      $.ajax({
          url: './' + data[ID_COLUMN],
          type: 'GET',
          success: function(results) { 
            var modal = $("#exampleModal");
            modal.find('.order_id').text(results['order_id']);
            modal.find('.first_name').text(results['first_name']);
            modal.find('.last_name').text(results['last_name']);
            modal.find('.phone').text(results['phone']);
            modal.find('.email').text(results['email']);
            modal.find('.total_price').text(results['total_price']);
            modal.find('.total_cost').text(results['total_cost']);
            modal.find('.total_tax').text(results['total_tax']);
            modal.find('.transaction_fees').text(results['transaction_fees'].toFixed(2));
            modal.find('.listing_fees').text(results['listing_fees'].toFixed(2));
            modal.find('.revenue').text((results['total_price']-results['total_fees']).toFixed(2));
            modal.modal('show');
          }
      });
  });

  // Refilter the table
  $('#min, #max').on('change', function () {
    order_table.draw();
  });

</script>


{% endblock %}

