{% include 'etsynest/base.html' %}
{% load static %}

{% block 'STYLES' %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css">
{% endblock %}

{% block 'BODY' %}
<div class="container">

  <h1 class="text-center m-5">Shops</h1>

  <div class="row mt-3 mb-5">
    <div class="col-12">
        <table id="shops-table" class="table table-hover table-bordered" style="width:100%">
            <thead >
              <tr>
                <th>Title</th>
                <th>4 Days Ago</th>
                <th>3 Days Ago</th>
                <th>2 Days Ago</th>
                <th>Yesterday</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}

{% block 'SCRIPTS' %}

<!-- DataTables Script -->
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js'%}"></script>

<script type="text/javascript" src="{% static 'js/moment.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.rowGroup.min.js'%}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript">

  const TITLE_COLUMN = 0 ;
  const FOURTH_DAY_COLUMN = 1;
  const THIRD_DAY_COLUMN = 2;
  const SECOND_DAY_COLUMN = 3;
  const YESTERDAY_COLUMN = 4;

  var shops_table = $('#shops-table').DataTable(
    {
      "order": [[ TITLE_COLUMN, "desc" ]],
        "processing": true,
        "serverSide": false,
        "ajax": {
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: "{% url 'shops_index' %}",
                method: "POST",
            },

    }
  );

    shops_table.on('click', 'tr', function () {
      var data = shops_table.row( this ).data();
      //window.open('./' + data[ID_COLUMN], 'name'); 
      window.open('./' + data[TITLE_COLUMN]); 
    } );

</script>

{% endblock %}
